body {
    background-color: #f8f9fa;
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-weight: 600;
}

.card img {
    height: 200px;
    object-fit: cover;
}

.card {
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05);
}
.btn-primary {
    background-color: #007bff;
    border: none;
}