<div class="container mt-5">

  <h2 class="text-center">Register</h2>

  <form (ngSubmit)="resgisterUser()" class="mt-4">

    <div class="mb-3">
      <label>Name</label>
      <!-- <custom-input-component ngDefaultControl [(ngModel)]="user.name"></custom-input-component> -->
      <input type="text" class="form-control" [(ngModel)]="user.name" name="name">
    </div>
    <div class="mb-3">
      <label>Password</label>
            <!-- <custom-input-component ngDefaultControl [(ngModel)]="user.password"></custom-input-component> -->

      <input type="password" class="form-control" [(ngModel)]="user.password" name="password">
    </div>
     <div class="mb-3">
      <label>Role</label>
      <select class="form-select" [(ngModel)]="user.role" name="role">
        <option value="">Select Role</option>
        <option value="user">User</option>
        <option value="admin">Admin</option>
      </select>
    </div>
    <button  class="btn btn-success w-100">
      Register
    </button>

  </form>

</div>